<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>K VS S</title>
</head>
<body>

<div id="header-container">
    <div id="black-star-left" class="black-star"></div>
    <div id="black-star-right" class="black-star"></div>
    <div id="yellow-star"></div>
    <div id="top-bar" class="header-bars"></div>
    <div id="bottom-bar" class="header-bars"></div>
    <p id="kenny-title" class="header-text">KENNY</p>
            <div id="vs-container">
            <div id="vs-top" class="vs-bars"></div>
                <p id="vs-text">VS</p>
            <div id="vs-bottom" class="vs-bars"></div>
            </div>
    <p id="spenny-title" class="header-text">SPENNY</p>
    <div id="kenny-head" class="title-heads"></div>
    <div id="spenny-head" class="title-heads"></div>
</div>

<div id="header-links">
    <a href="" class="header-link">Season 1</a>
</div>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="/logic/index.js"></script>
</html>
