body{
    margin: 0px;
    background-color: black;
}

#header-container{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/KVS-Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-bars{
    background-color: black;
    height: 2.5%;
    width: 50%;
}

#top-bar{
    position: absolute;
    top: 120px;
    margin: 0px 25%;
}

#bottom-bar{
    position: absolute;
    bottom: 120px;
    margin: 0px 25%;
}

.header-text{
    font-family: 'Montserrat';
    font-size: 30px;
}

#kenny-title{
    position: absolute;
    top: 35%;
    left: 25%;
    color: red;
}

#spenny-title{
    position: absolute;
    top: 35%;
    right: 25%;
    color: blue;
}

#vs-container{
    position: absolute;
    top: 133px;
    left: 46%;
    width: 10vh;
    height: 4.5vh;
}

.vs-bars{
    width: 100%;
    height: 5%;
    background-color: black;
}

#vs-top{
    position: absolute;
    top: 0px;
}

#vs-bottom{
    position: absolute;
    bottom: 5%;
}

#vs-text{
    position: absolute;
    top: 0px;
    margin: 0 25%;
    font-family: 'Montserrat';
    font-size: 30px;
}